<div class ="jumbotron headerimg">
  <div class= "Content Center">
  <h1><img src="../../../assets/logo.jpg" class="img-responsive animated bounceInDown titleImg" alt="TaskSide"></h1>

  <p style="color:#fff;font-weight:bold;font-family:'Comfortaa',cursive;"><i>
    "TaskSide is the perfect tool to write down your thoughts ,memory which sticked and carve it in form of notes.
    Nothing can slip by in Time."
  </i></p>

  <ts-fb-login></ts-fb-login>
</div>
</div>
<footer class="footer" style="text-align:center;">
      <div class="container">
        <p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> and <span class="glyphicon glyphicon-headphones"></span> by <a href="#">Vinay Gosain</a></p>
        <p>"Feel Free To Explore and if you have any suggestion or bug,Report it at <span style="color:#65C2DC;">vinaygosain91@gmail.com</span>"</p>
      </div>
</footer>
