<md-list>
  <md-list-item>
    <md-icon md-list-avatar>description</md-icon>
    <span md-line ><h4 class="ntitle">{{note.title}}</h4>
    <i class="material-icons pull-right ico" (click)=deleteNote()>delete</i>
    <i class="material-icons pull-right ico">mode_edit</i></span>
    <p md-line class="nvalue">{{note.value}}</p>
  </md-list-item>
</md-list>
